<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="5.0">
	<display-name>ProgettoS7</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>AddContactServlet</display-name>
		<servlet-name>AddContactServlet</servlet-name>
		<servlet-class>presentation.AddContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddContactServlet</servlet-name>
		<url-pattern>/AddContactServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteContactServlet</display-name>
		<servlet-name>DeleteContactServlet</servlet-name>
		<servlet-class>presentation.DeleteContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteContactServlet</servlet-name>
		<url-pattern>/DeleteContactServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UpdateContactServlet</display-name>
		<servlet-name>UpdateContactServlet</servlet-name>
		<servlet-class>presentation.UpdateContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateContactServlet</servlet-name>
		<url-pattern>/UpdateContactServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetAllContactsServlet</display-name>
		<servlet-name>GetAllContactsServlet</servlet-name>
		<servlet-class>presentation.GetAllContactsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAllContactsServlet</servlet-name>
		<url-pattern>/GetAllContactsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetByNumberServlet</display-name>
		<servlet-name>GetByNumberServlet</servlet-name>
		<servlet-class>presentation.GetByNumberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetByNumberServlet</servlet-name>
		<url-pattern>/GetByNumberServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetByLastnameServlet</display-name>
		<servlet-name>GetByLastnameServlet</servlet-name>
		<servlet-class>presentation.GetByLastnameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetByLastnameServlet</servlet-name>
		<url-pattern>/GetByLastnameServlet</url-pattern>
	</servlet-mapping>
</web-app>